repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-yaml
    -   id: check-json
    - id: detect-aws-credentials
      args: [--allow-missing-credentials]
    -   id: detect-private-key

-   repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    - id: black

-   repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
    -   id: isort

-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
